@import url("https://fonts.googleapis.com/css?family=Poppins|Nunito");
/*import "~nouislider/distribute/nouislider.min.css";*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-image: url("https://assets.wallpapersin4k.org/uploads/2017/04/Wallpaper-Clouds-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  font-family: 'Nunito', sans-serif;
  background-color: aliceblue;
}
.button {
  background-color: #555555;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  
}

/* Control the left side */
.left {
  left: 0;
  
}

/* Control the right side */
.right {
  right: 0;
  
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Control the left side */
.left {
  left: 0;
 
}

/* Control the right side */
.right {
  right: 0;
  
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

h1 {
  font-size: 40px;
  margin-left: 20px;
}
h2 {
  font-size: 30px;
  
}
h3 {
  font-size: 25px;
  margin-left: 20px;
}
.searchdiv .button {
  padding: 13px;
  width: 100px;
  margin-right: 50px;
  color: aliceblue;
}

.textt{
  
  padding-left: 30px;
  color: rgb(10, 10, 10);
}

.back{
  opacity: 0.9;
  background-color: aliceblue;
}

.input {
  width: 40px;
  border: 3px solid #555555;
  padding: 10px;
  margin-right: 50px;
  border-radius: 5px;
  font-size: 20px;
}
.searchdiv .button {
  padding: 13px;
  width: 100px;
  
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  
}

.container{
  
  padding-left: 20px;
  padding-bottom: 10px;
  opacity: 0.9;
  background-color: aliceblue;
}