<div style="text-align: center" >
    <h1 >Book Flights</h1>
</div>



<section style="background-color: rgb(196, 255, 200);" >
    
    <div class="container col-md-6" style="text-align: center">

    <form style=" width: 50vw; margin-left : 23.5vw;" (submit)="userRegister()"[formGroup]='myForm'>
        <div class="mb-3">
            <label for="exampleFormControlInput" class="form-label">Flight Id</label>
            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="flightId">
        </div>
    <div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName">
    </div>
    
    <div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="lastName">
    </div>
    
    <div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">No. Of Seats</label>
        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="noOfSeats">
    </div>
    
    
    <div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">Class</label>
        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="classs">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">Gender</label>
        <input type="text" class="form-control" id="firstName" name="firstName" formControlName="gender">
    </div>
    <br>
    <!--<div class="mb-3">
        <label for="exampleFormControlInput" class="form-label">Gender</label>
    
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female" value="female"formControlName="gender">
            <label class="form-check-label" for="exampleRadios1">
                Male
            </label>
        </div>
    
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="male" value="male"formControlName="gender">
            <label class="form-check-label" for="exampleRadios1">
                Female
            </label>
        </div>
    </div>-->
    <div class="container col-md-12" style="text-align: center">
    <button type="submit" class="button" >Book</button>
</div>
    </form>
    </div>
    </section>
    <section>
        <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      
    </div>
  </form>
</div>

<div class="container col-md-30" style="text-align: center">
<a href="https://rzp.io/l/LNXFeYo"><button type="submit" class="button" >Payment</button></a>
<br>
<br>
<a href="http://localhost:4200/allFlights"><button type="submit" class="button" >Back to Search Flights</button></a>
<br>
<br>
    <a href="http://localhost:4200/allowuser"><button type="submit" class="button" >Back to Dashboard</button></a>
    <br>
<br>
</div>
</body>
</html>

    </section>